<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:replace="~{/fragments/fragment_head :: head_resources}"></th:block>

    <title>Your images preview</title>
</head>
<body>

    <header>
        <th:block th:replace="~{/fragments/fragment_header :: navbar(true)}">
        </th:block>
    </header>

    <div class="container">
        <div class="row gy-4">
            <div class="col-4" th:each="image : ${selectedImages}" th:object="${image}">
                <div class="card">
                    <img th:src="${image.image}" class="card-img-top" th:alt="${image.title}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${image.title}"></h5>
                        <p class="card-text" th:text="${image.description}"></p>
                        <a th:href="|/images/${image.id}|" class="btn btn-outline-primary">
                            <i class="fa-regular fa-image"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>