<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/fragment_head :: head_resources}"></th:block>

    <title>Detail of [[${imageToShow.title}]]</title>
</head>
<body>

    <header>
        <th:block th:replace="~{/fragments/fragment_header :: navbar(false)}">
        </th:block>
    </header>

    <div class="container">
        <div th:if="${message}">
            <th:block th:replace="~{/fragments/fragment_alert :: alert(${message.alertMessageType}, ${message.message})}">
            </th:block>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card position-relative">
                    <img th:unless="${imageToShow.imageFile == null || imageToShow.imageFile.content == null}" th:src="@{|/files/${imageToShow.imageFile.id}|}" class="card-img-top" th:alt="${imageToShow.title}">
                    <div class="card-header" th:if="${imageToShow.imageFile == null || imageToShow.imageFile.content == null}">
                        <span>
                            <i class="fa-regular fa-eye-slash"></i>
                            No image
                        </span>


                    </div>
                    <span class="position-absolute top-0 end-0 m-1">
                        <a th:href="@{|/images/${imageToShow.id}/image_file|}" class="btn btn-outline-primary rounded-circle btn-sm">
                            <i class="fa-solid fa-file-circle-plus"></i>
                        </a>
                    </span>

                    <div class="card-body">
                        <p class="card-text">
                            <span class="badge text-bg-info me-1" th:each="category : ${imageToShow.categorySet}" th:object="${category}" th:text="${category.name}">
                            </span>
                        </p>
                        <h5 class="card-title" th:text="${imageToShow.title}"></h5>
                        <p class="card-text" th:text="${imageToShow.description}"></p>
                        <p class="card-text">
                            <span class="badge text-bg-danger" th:if="${!imageToShow.isVisible}">
                                Visibility:
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                            <span class="badge text-bg-success" th:if="${imageToShow.isVisible}">
                                Visibility:
                                <i class="fa-solid fa-check"></i>
                            </span>
                        </p>
                        <a th:href="@{/images}" class="btn btn-primary">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>