<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<th:block th:fragment="navbar(showSearch)">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-secondary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fa-solid fa-camera-retro fs-1"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/images}">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contacts}">Contacts</a>
                    </li>
                </ul>
                <form
                        class="d-flex"
                        role="search"
                        th:if="${showSearch}"
                        method="get"
                        th:action="@{/images}"
                >
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-info" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</th:block>

</body>
</html>